[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-bootstrap5 = "*"
django-bootstrap-v5 = "*"
easy-thumbnails = "*"
django-cleanup = "*"
django-simple-captcha = "*"

[dev-packages]

[requires]
python_version = "3.8"
