[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
async-timeout = "==4.0.2"
attrs = "==23.1.0"
autobahn = "==23.1.2"
automat = "==22.10.0"
"backports.zoneinfo" = "==0.2.1"
certifi = "==2023.5.7"
cffi = "==1.15.1"
channels = "==4.0.0"
channels-redis = "==4.1.0"
charset-normalizer = "==3.2.0"
constantly = "==15.1.0"
cryptography = "==41.0.2"
daphne = "==4.0.0"
django = "==4.2.3"
django-braces = "==1.15.0"
django-debug-toolbar = "==4.1.0"
django-embed-video = "==1.4.9"
django-redisboard = "==8.4.0"
djangorestframework = "==3.14.0"
hyperlink = "==21.0.0"
idna = "==3.4"
incremental = "==22.10.0"
msgpack = "==1.0.5"
pillow = "==10.0.0"
pyasn1 = "==0.5.0"
pyasn1-modules = "==0.3.0"
pycparser = "==2.21"
pymemcache = "==4.0.0"
pyopenssl = "==23.2.0"
pytz = "==2023.3"
redis = "==4.6.0"
requests = "==2.31.0"
service-identity = "==23.1.0"
six = "==1.16.0"
sqlparse = "==0.4.4"
twisted = "==22.10.0"
txaio = "==23.1.1"
typing-extensions = "==4.7.1"
urllib3 = "==2.0.3"
"zope.interface" = "==6.0"

[dev-packages]

[requires]
python_version = "3.8"
