[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
selenium = "*"
coverage = "*"
sphinx = "*"
model-bakery = "*"

[dev-packages]

[requires]
python_version = "3.8"
