<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startapp -> Dashboard</title>
</head>
<body>
    <h1>Dashboarding</h1>

    {% for board in boards %} 
        <div class="index">
            <h2>{{ board.title }}</h2>
            <p>{{ board.content }}</p>
            <p>{{ board.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %} 
</body>
</html>