{% extends "layout/base.html" %} 
{% load thumbnail %}
{% load static %}
{% block content %} 
<h2>Последние новости</h2>
{% if news %}
<ul class="list-unstyled">
    {% for new in news %}
    <li class="media my-5 p-3">
        {% url 'main:detail' rubric_pk=new.rubric.pk pk=new.pk as url %}
        <a href="{{ url }}{{ all }}">
        {% if new.image %}
        <img class="mr-3" src="{% thumbnail new.image 'default' %}">
        {% else %}
        <img class="mr-3" src="{% static 'main/empty.jpg' %}">
        {% endif %}
        </a>
        <div class="media-body">
          <h3><a href="{{ url }}{{ all }}">{{ new.title }}</a></h3>
          <div>{{ new.content }}</div>
          <p class="text-right font-weight-bold">{{ new.raiting }}</p>
          <p class="text-right font-italic">{{ new.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %} 