header h1 {
    color: wheat;
}
.root {
    font-size: larger;
}

.container-fluid {
    background: url('images/bg.jpg');
    color:  gold;
}
section {
    color:  goldenrod;
}
.row a {
    color: burlywood;
}
