[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
django = "==4.0.4"
django-debug-toolbar = "==4.2.0"
psycopg2-binary = "==2.9.3"
python-dotenv = "==1.0.0"
djangorestframework = "==3.14.0"
"backports.zoneinfo" = "==0.2.1"
certifi = "==2023.7.22"
cffi = "==1.15.1"

[dev-packages]

[requires]
python_version = "3.8"
