[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pillow = "*"
social-auth-app-django = "*"
pyopenssl = "*"
requests = "*"
easy-thumbnails = "*"
django-debug-toolbar = "*"
redis = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.8"
