{% extends "layout/base.html" %}

{% block title %}Удаление новости{% endblock %}

{% block content %}
<h2>Удаление новости</h2>
<div class="container-fluid mt-3">
    <div class="row">
        {% if new.image %}
        <div class="col-md-auto"><img src="{{ new.image.url }}" class="main-image"></div>
        {% endif %}
        <div class="col">
            <h2>{{ new.title }}</h2>
            <p>{{ new.content }}</p>
            <p class="font-weight-bold">{{ new.raiting }}</p>
            <p>{{ new.source }}</p>
            <p class="text-right font-italic">Новость добавил {{ new.created_at }}</p>
        </div>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>
{% endblock %}