<html>
    <body>
        
        <h1>Мой Заказ</h1>
        <p>Заказ номер {{ order.id }}</p>
        <span class="secondary">
            {{ order.created|date:"M d, Y"}}
        </span>
        <p>
            <h3>Счет по:</h3>
                {{ order.first_name }} {{ order.last_name }}</br>
                {{ order.email }}</br>
        </p>
        <h3>Товары: </h3>
        <table>
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                    <th>Полная цена</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %} 
                    <tr class="row{% cycle '1' '2' %}">
                        <td>{{ item.product.name }}</td>
                        <td class="num">{{ item.price }}.руб</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">{{ item.get_cost }}.руб</td>
                    </tr>
                {% endfor %} 
                <tr class="total">
                    <td colspan="3">Всего</td>
                    <td class="num">{{ order.get_total_cost }}</td>
                </tr>
            </tbody>
        </table>
        <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
            {% if order.paid %}Оплачено{% else %}Ожидает оплаты{% endif %} 
        </span>
    </body>
</html>