{% extends 'base.html' %} 
{% block title %}
    {% if object %} 
        Редактировать '{{ object.title }}'
    {% else %} 
        Создать новый курс
    {% endif %} 
{% endblock %} 

{% block content %} 
<h1>
    {% if object %} 
        Редактировать '{{ object.title }}'
    {% else %} 
        Создать новый курс
    {% endif %} 
</h1>
<div class="module">
    <h2>Общая информация о курсе</h2>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %} 
        <p><input type="submit" value="Сохранить"></p>
    </form>
</div>
{% endblock %} 