<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REQUEST SUMMATOR</title>
</head>
<body>
    <h1>Summary of requests -> </h1>
    <h2>Failars -> </h2>
    <table>
        {% for failare in failed_results %}
            <tr>
                <td>
                    {{ failare }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2>Successsfully Results -> </h2>
    <table>
        <tr>
            <td>Status code</td>
            <td>Response time (microseconds)</td>
            <td>Response size</td>
        </tr>
        {% for result in successfully_results %} 
            <tr>
                <td>{{ result.status }}</td>
                <td>{{ result.time }}</td>
                <td>{{ result.body_lenght }}</td>
            </tr>
        {% endfor %} 
    </table>
</body>
</html>