{% extends 'base.html' %} 
{% block title %} 
{% if subject %}    
    {{ subject.title }} курсы
{% else %} 
    Все курсы
{% endif %} 
{% endblock %} 

{% block content %} 
    <h1>
        {% if subject %}    
            {{ subject.title }} курсы
        {% else %} 
            Все курсы
        {% endif %} 
    </h1>
    <div class="contents">
        <h3>Разделы</h3>
        <ul id="modules">
            <li {% if not subject %}class="selected"{% endif %}>
                <a href="{% url 'course_list' %}">Все</a>
            </li>
            {% for sub in subjects %} 
                <li {% if subject == sub %}class="selected"{% endif %}>
                    <a href="{% url 'course_list_subject' sub.slug %}">
                        {{ sub.title }}
                        <br>
                        <span>
                            {{sub.total_courses }} курс{{ sub.total_courses }}
                        </span>
                    </a>
                </li>
            {% endfor %} 
        </ul>
    </div>
    <div class="module">
        {% for course in courses %} 
            {% with subject=course.subject %} 
                <h3>
                    <a href="{% url 'course_detail' course.slug %}">
                        {{ course.title }}
                    </a>
                </h3>
                <p>
                    <a href="{% url 'course_list_subject' subject.slug %}">
                        {{subject }} 
                    </a>. 
                    {{ course.total_modules }} модулей. 
                    Препод -> {{ course.owner.get_full_name }} 
                </p>
            {% endwith %} 
        {% endfor %} 
    </div>
{% endblock %} 